body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background: #722626;
  background: linear-gradient(343deg, rgb(255 0 0 / 88%) 0%, rgb(29 5 43) 100%);
  color: white;
  max-width: 1000px;
  margin: 0 auto;
}

.msg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 50px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

img {
  border-radius: 12px;
  width: 400px;
  height: 500px;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.footer-container div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-container div i {
  font-size: 18px;
}

canvas#fireworks {
  position: fixed;
  /* Ensures the canvas stays fixed in place */
  top: 0;
  left: 0;
  width: 100vw;
  /* Full width of the viewport */
  height: 100vh;
  /* Full height of the viewport */
  z-index: 0;
  /* Keeps the canvas behind the content */
  pointer-events: none;
  /* Ensures the canvas doesn't interfere with other elements */
}


@media (max-width: 768px) {
  .msg {
    font-size: 30px;
    /* Smaller font size for smaller screens */
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .img-container {
    padding-bottom: 50px;
    /* Adjust padding for smaller screens */
  }

  img {
    width: 300px;
    /* Reduce image size on smaller screens */
    height: 400px;
  }

  .footer-container {
    padding-bottom: 20px;
  }

  .footer-container div i {
    font-size: 16px;
    /* Smaller icon size */
  }
}

@media (max-width: 480px) {
  .msg {
    font-size: 24px;
    /* Even smaller font size for very small screens */
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .img-container {
    padding-bottom: 30px;
  }

  img {
    width: 250px;
    /* Further reduce image size */
    height: 350px;
  }

  .footer-container {
    margin-top: auto; 
    padding-bottom: 10px;
  }

  .footer-container div i {
    font-size: 14px;
    /* Further reduce icon size */
  }

  body{
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}